*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
}

/*Header*/
#header{
    height: 15%;
    width: 100%;
    background: #cdb6a0;
    border: 1px solid black;
}
#logocont{
    width: 25%;
    height: 100%;
    float: left;
}
#titulocont{
    width: 75%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-size: xx-large;
}
#logo{
    height: 90%;
    border-radius: 100em;
    border: 2px solid black;
    margin: 2%;
    margin-left: 10%;
}
#titulo{
    align-items: center;
    margin-left: 10%;
}

/*Cuerpo*/
#cuerpo{
    height: 85%;

}
/*Panel Izq*/
#cuerpoizq{
    width: 75%;
    height: 100%;
    float: left;
    background-color: rgb(247, 160, 129);  
}

#mapspace{
    height: 80%;
    width: 100%;
    float: left;  
}
#mapreal{
    height: 80%;
    background: rgb(244,215,187);
    background: linear-gradient(0deg, rgba(244,215,187,1) 1%, rgba(205,182,160,1) 69%);
    border: 1px solid black;
}
#map{
    height: 100%;
    margin-left: 26%;
    border: 10px solid black;
    border-style: inset;

}
#tarj0{
    height: 100%;
    width: 100%;
}
#infoterr{
    height: 20%;
    background-color: #cdb6a0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;    
}
#infoterr td{
    text-align: center;
}
#infoterr table{
    background-color: #f4d7bb;
}
#cardspace{
    height: 20%;
    width: 100%;
    background-color: #cdb6a0;
    float: left;
    overflow-x: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid black;
}
.tarj{
    width: auto;
    height: 90%;
    border-radius: 10%;
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
    margin-left: 1%;
    margin-top: 0.5%;
    font-size:small;
    float: left;
    display: inline;
    padding: 0.3%;
}
.tarj:hover{
    box-shadow: 2px 2px 2px black;
}
#reglas{
    text-align: justify;
    padding: 1%;
    
}
#reglas ul{
    padding-left: 5%;
}

/*Panel derech*/
#cuerpoderech{
    width: 25%;
    height: 100%;
    float: right;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border: 1px solid black;
    background: #cdb6a0;
}
#formdatos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#datos label{
    width: 38%;
    margin: 0px;
}
#datos input{
    width: 61%;
    align-items: left;
    background-color: bisque;
}
#datos select{
    background-color: bisque;
    border: 1px solid black;
}
.inbutton{
    max-width: 40%;
    margin: 5%;
}
.inbutton:hover{
    box-shadow: 1px 1px 12px black;
}
