*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 153, 252);
}
/*Header*/
#header{
    height: 15%;
    background-color: blueviolet;
}

/*Cuerpo*/
#cuerpo{
    height: 85%;
    background-color: rgb(204, 231, 163);
}
/*Panel Izq*/
#cuerpoizq{
    width: 80%;
    height: 100%;
    float: left;
    background-color: rgb(247, 160, 129);
    
}

#mapspace{
    height: 80%;
    width: 100%;
    background-color: rgb(255, 208, 0);
    float: left;
}
#mapreal{
    height: 80%;
    background-color: blue;
}
#tarj0{
    height: 100%;
    width: 100%;
}
#infoterr{
    height: 20%;
    background-color: bisque;
    
}
#cardspace{
    height: 20%;
    width: 100%;
    background-color: pink;
    float: left;
    overflow-x: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.tarj{
    width: 15%;
    height: 90%;
    border-radius: 10%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin-left: 1%;
    margin-top: 0.5%;
    font-size:small;
    float: left;
    display: inline
}
.tarj:hover{
    box-shadow: 2px 2px 2px black;
}
#reglas{
    text-align: justify;
    padding: 1%;
    
}
#reglas ul{
    padding-left: 5%;
}



/*Panel derech*/
#cuerpoderech{
    width: 20%;
    height: 100%;
    float: right;
    background-color: cyan;
}