*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;

}
/*Header*/
#header{
    height: 15%;
    background-color: blueviolet;
}

/*Cuerpo*/
#cuerpo{
    height: 85%;

}
/*Panel Izq*/
#cuerpoizq{
    width: 75%;
    height: 100%;
    float: left;
    background-color: rgb(247, 160, 129);
    
}

#mapspace{
    height: 80%;
    width: 100%;
    background-color: rgb(255, 208, 0);
    float: left;
}
#mapreal{
    height: 80%;
    background-color: blue;
}
#tarj0{
    height: 100%;
    width: 100%;
}
#infoterr{
    height: 20%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#infoterr td{
    text-align: center;
}
#cardspace{
    height: 20%;
    width: 100%;
    background-color: pink;
    float: left;
    overflow-x: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.tarj{
    width: auto;
    height: 90%;
    border-radius: 10%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin-left: 1%;
    margin-top: 0.5%;
    font-size:small;
    float: left;
    display: inline;
    padding: 0.3%;
}
.tarj:hover{
    box-shadow: 2px 2px 2px black;
}
#reglas{
    text-align: justify;
    padding: 1%;
    
}
#reglas ul{
    padding-left: 5%;
}



/*Panel derech*/
#cuerpoderech{
    width: 25%;
    height: 100%;
    float: right;
    padding-left: 0.5%;
    padding-right: 0.5%;

}
#formdatos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#datos label{
    width: 38%;
    margin: 0px;
}
#datos input{
    width: 61%;
    align-items: left;
}
.inbutton{
    max-width: 40%;
    margin: 5%;
}
.inbutton:hover{
    box-shadow: 1px 1px 12px black;
}
